# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

selenium
unittestzero
py==1.4.15
pytest==2.3.5
pytest-mozwebqa
pytest-xdist==1.8
PyYAML==3.10
certifi==0.0.8
chardet==2.1.1
execnet==1.1
requests==1.2.3
Marketplace==0.9.1
-e git+https://github.com/AndreiH/fxapom.git@master#egg=fxapom
fxa-python-client
