# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

selenium
unittestzero
py==1.4.26
pytest==2.7.0
pytest-mozwebqa
pytest-variables
certifi==0.0.8
chardet==2.1.1
execnet==1.1
requests==2.4.3
Marketplace==0.9.1
fxapom==1.4
