# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

selenium
unittestzero
py==1.4.8
pytest==2.2.4
pytest-xdist==1.8
pytest-mozwebqa==1.1
PyYAML==3.10
certifi==0.0.8
chardet==1.0.1
execnet==1.0.9
requests==0.11.2
Marketplace==0.1.5a
